<div class="container-fluid">

<div class="row">
    <div class="color-2 col-sm-6 col-md-4 col-lg-3">
        <a href="https://github.com/smsokolik/fictitious"><img src="assets/images/debate.jpg" alt="website" class="responsive"></a>
        
    </div>
    <div class="color-2 col-sm-6 col-md-4 col-lg-3">
        <a href="https://github.com/smsokolik/shorts"><img src="assets/images/shoets.jpg" alt="mobile" class="responsive"></a>
        
    </div>
    <div class="color-2 col-sm-6 col-md-4 col-lg-3">
        <!-- <img src="assets/images/email.jpg" alt="email" class="responsive"> -->
    </div>
</div>
</div>