<div class="container-fluid">

<div class="row">
    <div class="color-2 col-sm-6 col-md-4 col-lg-3">
        <a routerLink="/debate"><img src="assets/images/sstrongsm.jpg" alt="website" class="responsive"></a>
        <p>Website HTML/CSS</p>
        
    </div>
    <div class="color-2 col-sm-6 col-md-4 col-lg-3">
        <a routerLink="/shorts"><img src="assets/images/shoets.jpg" alt="mobile" class="responsive"></a>
        <p>Mobile App Angular</p>
        
    </div>
    <!-- <div class="color-2 col-sm-6 col-md-4 col-lg-3">
        <img src="assets/images/sstrongsm.jpg" alt="email" class="responsive">
        <p>Web Design HTML/CSS</p>
    </div> -->
</div>
</div>