

<h1>Skills</h1>
<div class="container-fluid">

  <div class="row">
      <div class="col-md-6">
        <div class="boxback col-12">
        <h2>Design</h2>
        <ul>
            <li>Adobe Photoshop</li>
            <li>Adobe Illustrator</li>
            <li>Adobe InDesign</li>
            <li>Adobe Animate</li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="boxback col-12">
        <h2>Web Development</h2>
        <ul>
            <li>HTML/CSS</li>
            <li>JavaScript</li>
            <li>Angular</li>
            <li>WordPress</li>
        </ul>
        </div> 
      </div>
      
  </div>
  
  <h1>Work History/Education</h1>

  <img src="assets/images/timeline.png" alt="app">



  