h1 {
    padding-top: 40px;
    padding-left: 20px;
}
.boxback {
    background-color: lightgray;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
ul {
    list-style: none;
    padding-left: 0px;
    line-height: 200%;
}
img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
    padding-top: 50px;
    padding-bottom: 20px;
}