.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    background-color: transparent;
    flex: 1 1 auto;
  }
  span {
     padding: 10px;
     cursor: pointer;
     font-size: medium;
  }

  .topnav span:hover {
   color: black;
   cursor: pointer;
 }
 
 .topnav span.active {
   color: black;
   cursor: pointer;
 }