
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
      <a class="navbar-brand">Shannon Sokolik</a>
      <ul class="nav navbar-nav" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="webDevelopment">Web Development</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="design">Design</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="experience">Experience</a></li>
      </ul>
  </div>
</nav>

<router-outlet></router-outlet>