
<mat-toolbar class = "topnav"color="primary" >

    <span [routerLink]="['story']" routerLinkActive = "story">SS</span>
  
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
  
    <span [routerLink]="['design']" routerLinkActive = "design">Design</span>
    
    <span [routerLink]="['development']" routerLinkActive = "development">Web Development</span>

    <span [routerLink]="['experience']" routerLinkActive = "experience">Experience</span>

    <span><a href="mailto:smsokolik@cox.net"><img src="assets/images/mail.png" /></a></span>
    

  </mat-toolbar>


<router-outlet></router-outlet>