
<body>
    <main>
    <p class = "name">Shannon Sokolik<p>

    <p class = "topbar"> Visual designer with experience conceptualizing, designing and programming web and mobile applications that create positive user experiences.</p>
    </main>
    

    <div class="greybox container-fluid">

        <div class="row">
            <div class="col-md-6">
              <div class="boxleft col-12">
                <a routerLink="/design"><img src="assets/images/design.png"></a>
              <h3>DESIGN</h3>
              <p>More than 20 years of experience working in web design, branding, television and print. </p>
              </div>
            </div>
            <div class="col-md-6">
                <div class="boxright col-12">
                  <a routerLink="/development"><img src="assets/images/development.png"></a>
              <h3>WEB DEVELOPMENT</h3>
              <p>New developer with a focus on creating clean, simple and efficient code.</p>
              </div> 
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
    

