body {
    background-color: rgb(54, 54, 54);
    color: whitesmoke;

}
main {
    padding: 75px;

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-bottom: 20px;
}
h1{
    text-align: left;
}