<body>
    <h1>Shannon Sokolik</h1>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque ea voluptates, repudiandae blanditiis, nisi dolorum illum officia suscipit minus, incidunt aspernatur natus laboriosam harum sed voluptatum deleniti aliquid. Praesentium, voluptas! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi molestiae alias cum iure, ea placeat illo optio officiis esse. Quisquam nihil similique facilis, natus sed ex ea libero quia tenetur.</p>
    
</body>
