

main {
    background-color:#3371cc;
    color: whitesmoke;
    height: 400px;
    padding: 75px;
}

.name{
    font-size: 45px;
    font-weight: 300;
}

.topbar{
    font-size: 25px;
    font-weight: thin;
}
h3{
    padding-top: 20px;
}

.boxleft {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 65px;
    padding-right: 65px;
    margin-bottom: 20px;
    text-align: center;
}
.boxright {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 65px;
    padding-right: 65px;
    margin-bottom: 20px;
    text-align: center;
}