
    <div class="container-fluid">

    <div class="row">
        <div class="color-2 col-sm-6 col-md-4 col-lg-3">
            <a routerLink="/mobile"><img src="assets/images/corbionapp.jpg" alt="app" class="responsive"></a>
            <p>Mobile App</p>
            
        </div>
        <div class="color-2 col-sm-6 col-md-4 col-lg-3">
            <a routerLink="/animation"><img src="assets/images/animations.jpg" alt="animate" class="responsive"></a>
            <p>Animations</p>
            
        </div>
        <div class="color-2 col-sm-6 col-md-4 col-lg-3">
            <a routerLink="/email"><img src="assets/images/email.jpg" alt="email" class="responsive"></a>
            <p>Email</p>
            
        </div>
        <div class="color-2 col-sm-6 col-md-4 col-lg-3">
            <a routerLink="/infographics"><img src="assets/images/ingographic.jpg" alt="infographic" class="responsive"></a>
            <p>Infographics</p>
            
        </div>
        <div class="color-2 col-sm-6 col-md-4 col-lg-3">
            <a routerLink="/video"><img src="assets/images/tvbar.jpg" alt="tv" class="responsive"></a>
            <p>Television</p>
            
        </div>
        <div class="color-2 col-sm-6 col-md-4 col-lg-3">
            <a routerLink="/social"><img src="assets/images/socialmedia.jpg" alt="social" class="responsive"></a>
            <p>Social Media</p>
        </div>  
        </div>