
    <div class="container-fluid">

    <div class="row">
        <div class="color-2 col-sm-6 col-md-4 col-lg-3">
            <img src="assets/images/corbionapp.jpg" alt="app" class="responsive">
            
        </div>
        <div class="color-2 col-sm-6 col-md-4 col-lg-3">
            <img src="assets/images/animations.jpg" alt="animate" class="responsive">
            
        </div>
        <div class="color-2 col-sm-6 col-md-4 col-lg-3">
            <img src="assets/images/email.jpg" alt="email" class="responsive">
            
        </div>
        <div class="color-2 col-sm-6 col-md-4 col-lg-3">
            <img src="assets/images/ingographic.jpg" alt="infographic" class="responsive">
            
        </div>
        <div class="color-2 col-sm-6 col-md-4 col-lg-3">
            <img src="assets/images/tvbar.jpg" alt="tv" class="responsive">
            
        </div>
        <div class="color-2 col-sm-6 col-md-4 col-lg-3">
            <img src="assets/images/corbionapp.jpg" alt="members" class="responsive">
        </div>  
        </div>